@charset "UTF-8";

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.payheader{
    display: flex;
    min-height: 58px;
    -webkit-box-align: center;
    align-items: center;
    margin:auto;
    max-width: 1160px;
    box-shadow: rgb(10 10 10 / 10%) 0px 1px 2px 0px;
    z-index: 999;
}

/*
div{
    border: 1px solid black;
}
*/
.pay{
    position: relative;
}


.paytitle{
    display: flex;
    max-width: 1160px;
    height: 179px;
    justify-content: center;
    margin: auto;
}

.paycontent{
	height: 1000px;
    max-width: 1160px;
    margin:auto;
    display: flex;
    padding: 24px 0px
}

.infotitle{
    display: flex;
    padding: 0px 0px 17px;
    
}

.cntdiv{
    height: 128px;
    padding: 0px 0px 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid;
    border-color: rgb(230, 230, 230);
}

#cntdiv3{
    padding: 0px;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
}

.cntdiv2{
    height: 142px;
    padding: 0px 0px 20px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid;
    border-color: rgb(230, 230, 230);
}

.cntdiv4{
    padding: 0px 0px 20px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid;
    border-color: rgb(230, 230, 230);
}


.cntdivsudan{
    height: 60px;
}

.content1{
    width: 672px;
    margin: 0px 32px 0px 0px;
    flex: 0 0 auto;
}

.content2{
    width: 456px;
    margin: 0px 32px 0px 0px;
    margin-top: 38px;
    flex: 0 0 auto;
}

.infotitle2{
    height: 59px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(230, 230, 230);
}

.infotitle22{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 87, 87);
    line-height: 27px;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.infotitle22money{
    font-size: 16px;
    font-weight: bold;
    color: rgb(61, 61, 61);
    line-height: 27px;
}

.infotitle33{
    padding: 0px 8px;
    font-size: 12px;
    color: rgb(61, 61, 61);
    line-height: 19px;
}

.alert{
    margin: 8px 0px;
    font-size: 12px;
    color: rgb(61, 61, 61);
    line-height: 19px;
}

.checks{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 12px;
}

.check{
    margin-top: 8px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    min-height: 29px;
}

.watcingcontent{
    color: rgb(39, 163, 255);
    font-size: 14px;
    text-decoration: underline;
}
.watchingopen{
    display: inline-flex;
}

.watchingcontent{
    margin: 0px 0px 10px;
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 16px;
}

.paysubmit{
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0px;
    border: 0px;
    background-color: rgb(255, 87, 87);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 450px;
}

.paysubmit > span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.paysubmit > span:hover{
    color: rgb(255, 255, 255, 0.5);
}

.TumblbugLogo{
    width: 115px;
    height: 30px;
}

.payheader{
    margin: auto;
    padding: 0px;
    text-align: left;
    display: flex;
    min-height: 58px;
    align-items: center;
}

.logotitle{
    font-size: 16px;
    font-weight: bold;
    color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
}

.logotitle::before{
    content: "·";
    margin: 0px 10px 0px 12px;
}

.info1{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.info2{
    width: 100%;
    align-items: center;
}
.firstbtn{
    position: absolute;
    right: 16px;
    display: flex;
    min-width: 50px;
    max-width: 50px;
    padding: 8px 10px;
    border: 1px solid rgb(230, 230, 230);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 13px;
    min-height: 26px;
    align-items: center;
    justify-content: center;
}

.table{
    margin: 16px 0px;
}

.th{
    padding: 4px 0px 4px 16px;
    width: 132px;
    padding-left: 20px;
    text-align: left;
}


.ptitle{
    align-items: center;
    font-weight: bold;
}

.titleText{
    flex-direction: row;
    margin-left: 24px;
    line-height: 230%;
}


.sectitle{
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
}

.inner{
    display: flex;
    width: 100%;
    padding: 32px 0px;
}
.innerUpper{
    display:flex;

}

.image{
    width: 152px;
    vertical-align: bottom;
}

img{
    width: 100%;
}

.titlecontent{
    font-size: 14px;
    position: relative;
}

.intro{
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}


.h3title a{
    color: black;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.025em;
}

.contentwrapper{
    height:189px;
}

.contentwrapper2{
    height:200px;
}

.contentwrapper3{
    height:115px;
}

.contentwrapper4{
    height:141px;
}


.account{
    margin-right: 12px;
}

.achivement{
    display: block;
    color: rgb(255, 87, 87);
}

.achivement::after{
    content:"·";
    color: black;
    font-weight: bold;
}

.state{
    padding-left: 12px;
    position: relative;
}

.alertdetailtitle::before{
    position: absolute;
    display: inline-flex;
    content: " ";
    width: 3px;
    height: 3px;
    border-top: 3px solid rgb(61, 61, 61);
    border-radius: 3px;
    top: 6px;
    left: -15px;
}

.infocnt2{
    padding: 0px 16px 16px;
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.infocnt22{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: rgb(109, 109, 109);
    line-height: 15px;
}

.span{
    display: inline-flex;
    font-size: 16px;
    line-height: 27px;
    color: rgb(109, 109, 109);
}

.cardaccount{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    width:100%
}

.listelement{
    display: flex;
    padding: 25px 16px 7px 20px;
}

.radioselector{
    width: 100%;
}

.radioselectorinner{
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.radioselectorwrapper{
    position: relative;
    overflow: hidden;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    flex-shrink: 0;
    background: rgb(255, 87, 87);
}

.radioselectorwrapper::before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    margin: -5px 0px 0px -5px;
}

.card{
    padding: 0px 8px;
    display: flex;
}

.radioselectorwrapper input[type="radio"]{
    position: absolute;
    left: -1000em;
}

.paymethod{
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgb(230, 230, 230);
    height: 60px;
    cursor: pointer;
}

.checklabel{
    display: flex;
    min-height: 24px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: rgb(61, 61, 61);
}

.checklabel::before{
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    z-index: 2;
    left: 0px;
    top: 0.14em;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(189, 189, 189);
    background: rgb(255, 255, 255);
}

.checkedspan{
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 0.14em;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background: rgb(255, 87, 87);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.checkedinner{
    display: inline-flex;
    align-self: center;
}

.checkedimg{
    fill: rgb(255, 255, 255);
    width: 1em;
    height: 1em;
}

.alertdetailtitle{
    position: relative;
    margin-top: 6px;
    display: flex;
    color: rgb(61, 61, 61);
}

.alertdetail{
    margin-top: 4px;
    display: flex;
    color: rgb(109, 109, 109);
}