@charset "UTF-8";



/*메뉴 설정*/
/* 폰트 추가!!*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@charset “utf-8″
 @font-face {
  font-family: "나눔바른고딕";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("나눔바른고딕"), local("NanumBarunGothic"),
    local("나눔바른고딕OTF"), local("NanumBarunGothicOTF"),
    local("애플 SD 산돌고딕 Neo"), local("Apple SD Gothic Neo"),
    local("Noto Sans"), local("Noto+Sans"), local("notokr-demilight"),
    local("나눔고딕"), local("NanumGothic"), local("맑은 고딕"),
    local("Malgun Gothic");
  src: url("https://puripia.com/Font/nanumbarungothicregular.eot"); /*For IE6~8*/
  src: local(☺),
    url("https://puripia.com/Font/nanumbarungothicregular.eot?#iefix")
      format("embedded-opentype"),
    url("https://puripia.com/font/nanumbarungothicregular.woff2")
      format("woff2"),
    url("https://puripia.com/font/nanumbarungothicregular.woff") format("woff"),
    url("https://puripia.com/font/nanumbarungothicregular.ttf")
      format("truetype"),
    url("https://puripia.com/Font/notokr-demilight.svg") format("svg");
}
html {
  /* font-family: "Apple SD Gothic Neo" !important; */
  font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
}
/*노멀라이즈 ===================================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
a:hover{
  /* color: #800000; */
}

.inputBtn {
  display: none;
}

a,
label.btn,
button,
input {
  cursor: pointer;
}

ul.noneStyle,
ul.noneStyle > li {
  list-style: none;
  display: inline-block;
}

.h1 {
  /*96px*/
  font-size: 6rem;
  letter-spacing: -1.5px;
  font-weight: ;
}

.h2 {
  /*60px*/
  font-size: 5rem;
  letter-spacing: -0.5px;
  font-weight: ;
}

.h3 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: ;
}

.h4 {
  font-size: 2.13rem;
  letter-spacing: 0.25px;
  font-weight: ;
}

.h5 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: ;
}
.h6 {
  font-size: 1.2rem;
  letter-spacing: 0.15px;
  font-weight: ;
}

.titel_fs1 {
  /* 48px */
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: ;
}

.titel_fs2 {
  /* 34.08px */
  font-size: 2.13rem;
  letter-spacing: 0.25px;
  font-weight: ;
}

.subtitle_fs1 {
  /* 16px */
  font-size: 1rem;
  letter-spacing: 0.15px;
  font-weight: ;
}

.subtitle_fs2 {
  /* 14.08px */
  font-size: 0.88rem;
  letter-spacing: 0.1px;
  font-weight: 800;
}

.body_fs1 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: ;
}

.body_fs2 {
  font-size: 0.88rem;
  letter-spacing: 0.25px;
  font-weight: ;
}

/*버튼 폰트사이즈*/
.btn_fs {
  font-size: 0.88rem;
  letter-spacing: 1.25px;
  font-weight: ;
}

.caption {
  font-size: 0.88rem;
  letter-spacing: 0.4px;
  font-weight: ;
}

/*컨트롤 class*/

/*폰트 색상*/
.ft_Color1 {
  color: #161b21;
}
.ft_Color2 {
  color: rgb(255, 87, 87);;
}
.ft_Color3 {
  color: #666666;
}

/*바탕 색상*/
.bg_theme1 {
  background: #161b21;
}

.bg_theme2 {
  background: #f3a950;
}

.bg_theme3 {
  background: #000000;
}

.bg_theme4 {
  background: #ffffff;
}
.bg_theme5{
  background: #666666;
}


/*위상컨트롤*/
.hidden {
  display: none;
}

/**/
.opacity00 {
  opacity: 0;
}

.opacity05 {
  opacity: 0.5;
}

.opacity10 {
  opacity: 1;
}
/* =============================================== */
/* 입력창 설정 */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="submit"],
input[type="dade"],
select {
    width: 100%;
    height: 35px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background: #666666;
  color: #ffffff;
}
/*=================================================*/

/*영역설정*/
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.wrap {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 1080px 1fr;
  width: 100%;
}

header {
  /* background: rgba(197, 21, 21, 0.5); */
  /* background: #161b21; */
  width: 100%;
  grid-area: header;
  /* height: 76px; */
  /* position: fixed; */
  top: 0;
  transition: 0.4s ease;
  border-bottom: 1px solid #e5e5e5;
}

nav {
  top: 10px;
  position: absolute;
  width: 100%;
}

aside {
}

main {
  grid-area: main;
}
section {
}


footer {
  position: relative;
  /* border: 2px solid #161b21; */
  grid-area: footer;
}

/* 탑 풋 CSS*/

/*header*/

#headerWrap {
  margin: auto;
  align-items: center;
  width: 1080px;
}
#headerWrap > div{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}


#headerWrap > .headerTop {
  width: 100%;
  min-height: 48px;
  max-height: 72px;
}
#headerWrap > .headerTop >div{
  display: inline-flex;
  align-items: center;
}

.linkList{
  position: relative;
}
.linkList > *{
  padding: 16px;
}
.linkList > div:nth-child(4){
  border: 1px solid #e5e5e5;
}
.myListBtn > span:nth-child(1){
  border-radius: 100%;
  background: rgb(208, 208, 208);
  color: #ffffff;
  padding: 5px;
}
.myListBtn > span:nth-child(2){
  margin-left: 5px;
}

.myListCell{
  position: relative;
}
.myListCell > .myList{
  border: 1px solid #000000;
  position: absolute;
  min-height: 380px;
  max-height: 85vh;
  overflow-y: auto;
  top: 60px;
  right: 0px;
  width: 240px;
  z-index: 100;
  display: none;
  background: #ffffff;
}
.myListCell > .myList.on{
  display: block;
}
.myList .bar{
  padding: 12px 16px;
  display: flex;
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
}

.searchBar{
    position: relative;
    padding: 0px 30px 0px 16px;
    display: inline-flex;
    width: 260px;
    height: 36px;
    background: rgb(243, 243, 243);
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3);
}

.searchBar > input{
  border: none;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
    appearance: none;
    outline: none;
}
.searchBar > img{
  position: absolute;
  right: 10px;
}


/* header top 2  */
#headerWrap > div:nth-child(2) {
}

.topSideBtn {
  /* position: relative; */
}

.topLogo {
  height: 100%;
  padding: 5px 5px;
  text-align: start;
}
.topLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.topLink ul{
  display: flex;
  justify-content:space-between;
}
.topLink li a{
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 2rem;
  color: #f3a950;
  transition: .3s ease;
}
#headerWrap .topLink li:hover a {
  color: #ffffff;
  font-size: 2.5rem;
}


.topLog {
  padding: 0 10px 0 0;
  text-align: end;
  font-size: 2rem;

}


.topLogo>div {
  width: 100px;
  height: inherit;
  text-align: center;
}

.textLogo {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.icons{
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.icons> img{
  position: absolute;
  size: 200%;
  top: -84px;
  left: -1px;
}

.topLog label{
  transition: .3s ease;
}
.topLog label:hover{
  color: #ffffff;
  font-size: 2.5rem;
}

.linkCell{
  display: flex;
  align-items: center;
}
.linkCell > div{
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  height: 100%;
}
.linkCell > div:hover{
  border-bottom: 1px solid #666666;

}


.btn01 {
  position: relative;
}
.btn01 > label {
  padding-left: 20px;
}
.btn01 > span{
  position: absolute;
  transform: translate(0, -50%);
  width: 20px;
  height: 3px;
  border: 1px solid #000000;
  background: #000000;
}
.btn01 > span:nth-child(1){
  top: 20%;
}
.btn01 > span:nth-child(2){
  top: 50%;
}
.btn01 > span:nth-child(3){
top: 85%;
}




/* ====================================================== */

/* ----------------------------------------------------------------------------------- */

/*nav*/
#navBtn{
  position: relative;
}
nav {
  top: 40px;
  position: absolute;
  background: #e5e5e5;
}
.navWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1080px;
  height: 100%;
  margin: auto;
  padding: 10px 0;
  /* display: none */
}
.navWrap > div{
  position: relative;
  padding: 10px 10px 10px 35px;
}
.navWrap > div:hover{
  background: #e5e5e5;
}

.navWrap .icon {
  width: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* ----------------------------------------------------------------------------------- */

/*article*/
/* ----------------------------------------------------------------------------------- */

/*main*/
/* ----------------------------------------------------------------------------------- */
/* section */


/*footer*/
#footerWrap {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
#footerWrap > div {
  width: 100%;
  text-align: center;
  padding: 10px;
}
#footerWrap > div:nth-child(1) {
  line-height: 200%;
  font-size: 1.5rem;
}

.foottext {
  font-family: 'Dancing Script', cursive;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  font-size: 1rem;
}

/* ----------------------------------------------------------------------------------- */

/*      스위치 animation css ================================================*/

/*      스위치 css ================================================*/

input[id="sideBtn1"] {
  display: none;
}

label[for="sideBtn1"] {
  display: block;
  width: 55px;
  height: 40px;
  position: relative;
  margin: 10px 5px;
}
.navSideBtn label[for="sideBtn1"] {
}

label[for="sideBtn1"] span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  transition: all 0.5s;
  opacity: 1;
  transform: translateY(-50%);
}

.topSideBtn label[for="sideBtn1"] span {
  background: #ffffff;
}

.topSideBtn label[for="sideBtn1"] span:nth-child(1) {
  top: 0%;
  width: 100%;
}
.topSideBtn label[for="sideBtn1"] span:nth-child(2) {
  top: 50%;
  width: 100%;
}

.topSideBtn label[for="sideBtn1"] span:nth-child(3) {
  top: 100%;
  width: 100%;
}

.topSideBtn label[for="sideBtn1"] span:nth-child(4) {
  opacity: 0;
}

/*       체크시 이벤트*/
.topSideBtn label[for="sideBtn1"].checked span:nth-child(1) {
  opacity: 0;
}

.topSideBtn label[for="sideBtn1"].checked span:nth-child(2) {
  opacity: 0;
}

.topSideBtn label[for="sideBtn1"].checked span:nth-child(3) {
  top: 50%;
  transform: rotate(-225deg);
  width: 100%;
}

.topSideBtn label[for="sideBtn1"].checked span:nth-child(4) {
  top: 50%;
  transform: rotate(225deg);
  width: 100%;
  opacity: 1;
}

/*       hover 이벤트*/
.topSideBtn label[for="sideBtn1"]:hover span:nth-child(1) {
  width: 75%;
}
.topSideBtn label[for="sideBtn1"]:hover span:nth-child(2) {
  width: 50%;
}
.topSideBtn label[for="sideBtn1"]:hover span:nth-child(3) {
  width: 100%;
}

.navSideBtn label[for="sideBtn1"] span {
  width: 100%;
  top: 50%;
  background: #ffffff;
  transform: translate(0%, -50%);
}
.navSideBtn label[for="sideBtn1"] span:nth-child(1) {
  transform: rotate(45deg);
}
.navSideBtn label[for="sideBtn1"] span:nth-child(2) {
  transform: rotate(135deg);
}
/*체크시 이벤트*/
.navSideBtn label[for="sideBtn1"].checked span:nth-child(1) {
  transform: rotate(135deg);
}
.navSideBtn label[for="sideBtn1"].checked span:nth-child(2) {
  transform: rotate(225deg);
}

/* paging Css*/
.pagingBox {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagingBox>div {
    border: 1px solid #f3a950;
    margin: 0 3px;
    padding: 2px 4px;
    cursor: pointer;
}

.pagingBox>div.on {
    border: 1px solid #ffffff;
    color: #ffffff;
}



/*grid control------------------------------------*/
.grid {
  display: grid;
  width: 1300px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: repeat(12, 1fr);
  grid-gap: 20px;

  align-content:start;
}

.grid .col-1 {
  grid-column-end: span 1;
}
.grid .row-1 {
  grid-row-end: span 1;
}
.grid .col-2 {
  grid-column-end: span 2;
}
.grid .row-2 {
  grid-row-end: span 2;
}
.grid .col-3 {
  grid-column-end: span 3;
}
.grid .row-3 {
  grid-row-end: span 3;
}
.grid .col-4 {
  grid-column-end: span 4;
}
.grid .row-4 {
  grid-row-end: span 4;
}
.grid .col-5 {
  grid-column-end: span 5;
}
.grid .row-5 {
  grid-row-end: span 5;
}
.grid .col-6 {
  grid-column-end: span 6;
}
.grid .row-6 {
  grid-row-end: span 6;
}
.grid .col-7 {
  grid-column-end: span 7;
}
.grid .row-7 {
  grid-row-end: span 7;
}
.grid .col-8 {
  grid-column-end: span 8;
}
.grid .row-8 {
  grid-row-end: span 8;
}
.grid .col-9 {
  grid-column-end: span 9;
}
.grid .row-9 {
  grid-row-end: span 9;
}
.grid .col-10 {
  grid-column-end: span 10;
}
.grid .row-10 {
  grid-row-end: span 10;
}
.grid .col-11 {
  grid-column-end: span 11;
}
.grid .row-11 {
  grid-row-end: span 11;
}
.grid .col-full,
.grid .col-12 {
  grid-column: 1 / -1;
}


/* 넓이 컨트롤러 */
.col-all-1 {
   width: 8.3333%;
}

.col-all-2 {
   width: 16.6666%;
}

.col-all-3 {
   width: 25%;
}

.col-all-4 {
   width: 33.3333%;
}

.col-all-5 {
   width: 41.6666%;
}

.col-all-6 {
   width: 50%;
}

.col-all-7 {
   width: 58.3333%;
}

.col-all-8 {
   width: 66.6666%;
}

.col-all-9 {
   width: 75%;
}

.col-all-10 {
   width: 83.3333%;
}

.col-all-11 {
   width: 91.6666%;
}

.col-all-12 {
   width: 100%;
}


/* ======================================= */
/* 
  게시판  최소 크기  350 ()  전체 767
*/

/* ======================================= */
/* 크기별 조정*/
/*=====================================================*/
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
  html {
    font-size: 10px;
  }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1280px) {
  .grid {
    width: 100%;
  }
  /* .wrap2 {
    display: grid;
    grid-template-areas:
      "header header"
      "main sideA"
      "sideB sideB"
      "footer footer";
    grid-template-columns: 5fr 1fr;
    width: 100%;
  }
  .wrap {
    display: grid;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
    grid-template-columns: 5fr 1fr;
    width: 100%;
  } */
}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }


}

@media (max-width: 1024px) {
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 12px;
  }
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }

  /* .wrap {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    width: 100%;
  } */

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}