@charset "UTF-8";

section{
    width: 1080px;
    margin: auto;
}

.top_info{
    display: flex;
    flex-wrap: wrap;
    width: 1032px;
    margin: 0px auto;
    padding: 1rem;
}
.top_info > div{
    display: flex;
}
.top_info > div:nth-child(1){
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
}
.info_titel{
    width: 100%;
    align-items: center;
    order: 1;
}
.info_titel > div{
    margin: auto;
    text-align: center;
}


.info_titel > div:nth-child(1){
    padding: 10px;
}
.info_titel > div:nth-child(1) span{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.6rem;
    color: rgb(117, 117, 117);
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(239, 239, 239);
    border-radius: 2px;
}
.info_titel > div:nth-child(2) h1{
    font-size: 2.8rem;
    margin: 1.5rem 0px 1rem;
}
.info_titel > div:nth-child(3) span{
    font-size: 1rem;
    font-weight: 600;
}

.top_img{
    width: 594px;
    height: auto;
    order: 2;
}
.info_data{
    order: 3;
    flex: 1 1 0px;
    /* margin: 0px 0px 0px 86px; */

    font-size: 14px;
}

.bar{
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background: rgb(244, 244, 244);
}

.dataCell1{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
}
.dataCell1 .font_1{
    font-size: 2.75rem;
    letter-spacing: 0.5px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
}
.titel1{
    margin-bottom: 1rem;
}

.dataCell2{
    margin-bottom: 20px;
}
.dataCell2 > dl{
    display: flex;
    justify-content: flex-start;
    margin: 7px 0;
}
.dataCell2 > dl > dt{
    width: 56px;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 20px;
}
.dataCell2 > dl > dt{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: rgb(61, 61, 61);
    font-size: 13px ;
    line-height: 22px ;
}

.dataCell3{
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
}
.dataCell3 > div{
    margin-right: 5px;
}
.dataCell3 > div button{
    padding: 5px;
}
.dataCell3 > div:nth-child(1) button{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    width: 52px;
    height: 52px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.dataCell3 > div:nth-child(2) button{
    border: 1px solid rgb(228, 228, 228);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    width: 52px;
    height: 52px;
}
.dataCell3 > div:nth-child(3) button{
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    user-select: none;
    margin: 0px 0.25em 0px 0px;
    border-radius: 0.285714rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-color: rgb(250, 100, 98);
    color: rgb(255, 255, 255);
    padding: 1.2em 2em;
}
.dataCell3 img{
    width: 50%;
    opacity: .7;
}
.btnLabl{
    font-size: 9px;
    line-height: 9px;
    color: rgb(61, 61, 61);
    margin-top: 5px;
    text-align: center;
}


.tapSection{
    display: flex;
    justify-content: space-between;
}

.tapManu{
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0px 1rem;
}
.tapManu > div{
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 100%;
    cursor: pointer;
}
.tapManu input[type="radio"]{
    display: none;
}

.tapManu > div.on {
    border-bottom: 4px solid;
    font-weight: 700;
}

.tap1 {
    display: flex;
    justify-content: space-between;
}
.scrollBtnlist {
    display: flex; 
    width: 650px;
    padding: 14px 0px;
    top: 56px;
}
.scrollBtnlist > div{
    margin-right: 12px;
}
.scrollBtnlist > div > a{
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    border-radius: 23px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    border: 1px solid rgb(240, 240, 240);
    font-size: 12px;
    line-height: 20px;
}
.scrollBtnlist a.on{
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(61, 61, 61);
}

.tapContent{
    width: 100%;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out 0s;
}
.tapContent > div:nth-child(1){
    padding: 24px 19px;
    border: 1px solid rgb(240, 240, 240);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 8px, rgb(0 0 0 / 4%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 1px 0px;
    border-radius: 4px;
    margin: 0px 3.5px 36px;
}

.tapContent > div{
    padding: 32px 0px;
    margin: 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.sideBox{
    border: 1px solid rgb(239, 239, 239);
       box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px, rgb(0 0 0 / 4%) 0px 2px 4px;
}
.sideBox{
 padding: 16px 21px;
}

.sideTitel{
    margin: 0px;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    padding: 5px 0px 20px;
}

.imgHeader> a>span{
    display: inline-block;
    background-image: url(/assets/image/bg/indi05.webp);
    background-size: cover;
    background-position: 50% 38%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgb(208 208 208) 0px 0px 1px 0px inset, rgb(208 208 208) 0px 0px 1px 0px;
    margin-right: 1rem;
    margin-top: 5px;
}

.contentCell{
    display: flex;
}

.sideBox .content1 > span:nth-child(1){
    color: rgb(61, 61, 61);
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #f6f5f5;
    font-size: 14px;
    line-height: 1.7em;
}
.sideBox .content1 > span:nth-child(2){
    color: rgb(117, 117, 117);
    font-size: 0.9rem;
    line-height: 1.7;
    margin-bottom: 0.25rem;
}
.sideBox .content2{
    font-weight: 400;
    color: rgb(112, 112, 112);
    padding: 15px 0px 4px;
    font-size: 13px;
    line-height: 22px;
}
.sideBtnCell{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    height: 100%;
}
.sideBtnCell > div{
    margin-right: 8px;
    margin-top: 16px;
    width: 50%;
    cursor: pointer;
}
.sideBtnCell button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 104px;
    height: 36px;
    font-weight: 400;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    border-radius: 4px;
    margin: 0px;
    border: 0px;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.presentCell{
    width: 100%;
    height: auto;
    padding: 24px 0px 0px;
}


.cashLinkBox{
    margin: 10px 0px 14px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px, rgb(0 0 0 / 4%) 0px 2px 4px;
    order-radius: 4px;
    padding: 20px;
    border: 1px solid rgb(228, 228, 228) !important;
}
.cashLinkBox .cash{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.025em;
    margin: 0px 0px 6px;
    font-weight: 700;
}
.cashLinkBox .cashNam{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    margin: 6px 0px 0px;
    color: rgb(109, 109, 109);
}

.tap1 {
    margin-right: 1rem;
}

.sidecontent {
    margin-left: 1rem;
}