
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.selectCell{
    position: relative;
    width: 100%;
}
.quickFilger{
    display: inline-flex;
    padding-right: 50px;
    padding-left: 1rem;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.quickFilger>span{
    display: flex;
    position: relative;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(72, 72, 72);
    overflow: hidden;
}
.quickFilger>span>button{
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px 8px;
    border: 0px;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    font-weight: normal;
}


.filter{
    position: absolute;
    right: 0px;
    bottom: 35px;
    z-index: 1;
}
.selectFilter{
}
.fliterList>div{
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    min-width: 130px;
    padding: 0px 16px 0px 12px;
}
.fliterList>div:hover{
    background: rgb(245, 245, 245);
}
.fliterList{
    position: absolute;
    border: 1px solid #e5e5e5;
    z-index: 99;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
    border-radius: 4px;
    padding: 4px 0px;
    color: rgb(61, 61, 61);
    right: 0px;
    display: none;
}


section{
   width:1080px;   
   margin:auto;
}
.selectCell > div:nth-child(3) {
    padding: 16px 20px 32px;;
}

.itmeList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.itmeList>figure {
    margin-bottom: 56px;
    width: 25%;
    padding: 0 10px;
}

.itmeCell>.imgCell {
    position: relative;
    flex-basis: 132px;
}

.itmeCell > .textBox{
    padding: 16px 0px 0px;
    min-height: 138px;
}

.itmeCell > .textBox > a{
    text-align: start;
}
.itmeCell > .textBox > a:nth-child(1){
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
}
.itmeCell > .textBox > a:nth-child(2){
    font-weight: bold;
}
.itmeCell > .textBox > a:nth-child(3){
    width: 93%;
    color: rgb(158, 158, 158);
    font-size: 13px;
    line-height: 21px;
}
.itmeCell > .dadaBox{
    display: flex;
    justify-content: space-between;
}
.dadaBox .data1 > span:nth-child(1){
    color:  rgb(255, 87, 87);
    font-weight: 700;
}
.dadaBox > .data1 > span:nth-child(2){
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}
.dadaBox > .data2 > span{
    margin-left: auto;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(109, 109, 109);
    font-weight: 700;
}

.bar {
    background: rgb(208, 208, 208);
    width: 100%;
    height: 3px;
    margin: 6px 0px 0px;
    overflow: hidden;
}

.bar::after {
    content: "";
    width: 44%;
    display: block;
    height: 100%;
    background: rgb(255, 87, 87);
}

.imgCell>a:nth-child(1) {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.imgCell::before {
    content: "";
    padding: 0px 0px 86%;
    display: block;
}

.imgCell>a>img {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s ease;
}

.imgCell>a>img:hover {
    height: 110%;
    width: 110%;
    transform: scale(1.1);
}

.imgCell>a.heartcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    z-index: 10;
    background: url(../../images/project/icon/icons-heart-white.png) no-repeat center center;
    background-size: cover;
}
.imgCell>a.heartcon.on {
    background: url(../../images/project/icon/icons-heart-pink.png) no-repeat center center;
}

/* */
.category {}